@CHARSET "UTF-8";

* {
	margin: 0;
}

.botao {
	font-variant: small-caps;
  	letter-spacing: 2px;
	display: block;
}

.table-imprimi {
	width: 500px;
	height: auto;
	margin-left: 250px;
}

.grid-botoes {
	margin-left: 350px;
}
